apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://dev-prometheus:9090
    uid: prometheus
    isDefault: true
    editable: true
  - name: Loki
    type: loki
    access: proxy
    url: http://dev-loki:3100
    uid: loki-datasource
    isDefault: false
    editable: true
    jsonData:
      maxLines: 1000
