loki-distributed:
  deploymentMode: Distributed

  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: index_
            period: 24h
    storage:
      type: s3
      bucketNames:
        chunks: chunks
        ruler: ruler
        admin: admin
      s3:
        endpoint: loki-distributed-minio:9000
        accessKeyId: loki
        secretAccessKey: supersecret
        s3ForcePathStyle: true
        insecure: true

  minio:
    enabled: true

  singleBinary:
    replicas: 0

  read:
    replicas: 1

  write:
    replicas: 1

  backend:
    replicas: 1

  gateway:
    enabled: true

  test:
    enabled: false

  monitoring:
    selfMonitoring:
      enabled: false
      grafanaAgent:
        installOperator: false
