image:
  repository: grafana/promtail
  tag: "2.9.6"
  pullPolicy: IfNotPresent

# Loki endpoint to push logs to
loki:
  url: http://dev-loki:3100/loki/api/v1/push

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

# Tolerations to run on all nodes (including control plane)
tolerations:
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule
